* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #0a0a0a;
  color: #ffffff;
}


.header {
  background-color: #1a0000;
  padding: 18px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #c40000;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 14px;
}

.logo-area img {
  width: 55px;
}

.logo-area h1 {
  color: #ff2b2b;
  font-size: 26px;
}

.logo-area p {
  font-size: 13px;
  color: #e0e0e0;
}

/* NAV */
.nav-buttons a {
  text-decoration: none;
  color: #ffffff;
  margin-left: 18px;
  padding: 7px 16px;
  border: 1px solid #ff2b2b;
  border-radius: 6px;
}

.nav-buttons a:hover {
  background-color: #ff2b2b;
  color: #000;
}

.hero {
  padding: 60px 20px;
  text-align: center;
  background-color: #240000;
}

.hero h2 {
  font-size: 40px;
  color: #ff3c3c;
}

.hero p {
  margin-top: 12px;
  font-size: 17px;
  color: #f0f0f0;
}


.menu-buttons {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin: 35px 0;
}

.menu-buttons a {
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #ff3c3c;
  padding: 10px 26px;
  border-radius: 8px;
  font-weight: bold;
}

.menu-buttons a:hover {
  background-color: #ff3c3c;
  color: #000;
}


.section-title {
  text-align: center;
  margin: 30px 0 20px;
  color: #ff3c3c;
  font-size: 30px;
}


.menu-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 25px;
  padding: 20px 35px;
}


.food-card {
  background-color: #1f1f1f;
  border: 1px solid #3a0000;
  border-radius: 10px;
  padding: 14px;
  text-align: center;
}

.food-card img {
  width: 100%;
  height: 155px;
  object-fit: cover;
  border-radius: 8px;
}

.food-card h3 {
  margin: 12px 0 6px;
  font-size: 19px;
}

.price {
  color: #ff4a4a;
  font-size: 17px;
  margin-bottom: 10px;
}

.food-card button {
  background-color: #cd1919;
  color: #000;
  border: none;
  padding: 7px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.food-card button:hover {
  background-color: #ffffff;
  color: #000;
}

.cart {
  background-color: #1a0000;
  padding: 45px 20px;
  text-align: center;
  margin-top: 50px;
}

.cart h2 {
  color: #ff3c3c;
}


footer {
  background-color: #000000;
  text-align: center;
  padding: 18px;
  font-size: 14px;
  color: #cccccc;
}
